<?php
$db_link = new MongoClient("MongoURL!");

$db_link = $db_link->scavenger_hunt;

$collection = $db_link->events;

$AccountSid = "#######################";
$AuthToken = "#####################";
$TwilioNumber = "#########";
?>